.mission {
    width: 100%;
    height: 40dvh;
    display: flex;
    margin-top: 64px;
}

.mission .missionWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mission .missionWrapper .card {
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px #3535356e;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
}

.mission .missionWrapper .card .cardHeading {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-transform: capitalize;
    margin: 0;
}

/* Styling for 1024px screens */

@media screen and (max-width: 1024px) {
    .mission {
        height: 45dvh;
        margin-top: 32px;
    }
    
    .mission .missionWrapper .card {
        height: 100%;
    }
}

/* Mobile Styling */

@media screen and (max-width: 700px) {
    .mission {
        height: fit-content;
        margin-top: 32px;
    }
    
    .mission .missionWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .mission .missionWrapper .card {
        width: 30%;
        height: 90%;
        padding: 10px;
    }
    
    .mission .missionWrapper .card .cardHeading {
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1.3px;
        text-transform: capitalize;
        margin: 0;
    }
}

/* Styling for 600px screens */

@media screen and (max-width: 600px) {
    .mission {
        width: 100%;
        height: fit-content;
        margin-top: 32px;
    }
    
    .mission .missionWrapper {
        height: fit-content;
        flex-wrap: wrap;
    }
    
    .mission .missionWrapper .card {
        width: 70%;
        height: fit-content;
        margin-bottom: 32px;
    }
}

/* Mobile Styling */

@media screen and (max-width: 480px) {
    .mission {
        width: 100%;
        height: fit-content;
        display: flex;
        margin-top: 64px;
    }
    
    .mission .missionWrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    
    .mission .missionWrapper .card {
        width: 90%;
        height: fit-content;
        margin-bottom: 16px;
    }
    
    .mission .missionWrapper .card .cardHeading {
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 1.3px;
        text-transform: capitalize;
        margin: 0;
    }
}