.photoCollage {
    padding: 50px 20px;
    text-align: center;
}

.photoCollage h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
