.courseSamples {
    padding: 50px 20px;
    text-align: left;
    background-color: #f9f9f9;
}

.courseSamples h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    color: #333;
}

.samplesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Adjusted for responsiveness */
    gap: 30px;
    justify-content: center;
    max-width: 80%; /* Limit width to 80% of container */
    margin: 0 auto; /* Center the container */
}
