.servicesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will add space between the cards */
   }
   
 .serviceCard {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.8s;
    width: calc(30% - 2rem);
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
 }
 
 .serviceCard:hover {
    box-shadow: 0 10px 20px rgba(13, 128, 166, 0.2);
    transform: scale(1.05);
    background-color: #f0f0f0;
 }
 
 .serviceName {
    font-size: 1.5rem;
    margin-bottom: 1rem;
 }
 
 .serviceBrief {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 1; /* Ensure .serviceBrief is below .serviceLink */
 }
 
 .serviceCard:hover .serviceBrief {
    opacity: 1;
 }
 
 .serviceImage {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
 }
 
 .serviceCard:hover .serviceImage {
    transform: scale(1.1);
 }
 
 .serviceLink {
    text-decoration: none;
    color: #007bff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative; /* Ensure .serviceLink is positioned relative to .serviceCard */
    z-index: 2; /* Ensure .serviceLink is above .serviceBrief */
 }
 
 .serviceLink:hover {
    background-color: #0056b3;
 }
 
 @media (max-width: 1200px) {
    .serviceCard {
        width: calc(45% - 2rem);
    }
 }
 
 @media (max-width: 768px) {
    .serviceCard {
        width: 100%;
    }
 }
 